body {
    font-family: sans-serif;
    font-size: larger;
    padding: 20px;
    background: #f1f1f1;
  }
  
  
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;     
    background: rgb(214, 222, 226);
  }
  
  
  .leftcolumn { 
    align-items: center;
    width: 75%;
  }
  
  
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  
  .fakeimg {
    background-color: rgb(188, 233, 247);
    width: 100%;
    padding: 20px;
  }
  
  
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  
  th{
    background-color: rgb(188, 233, 247);
  }
  td{
    background-color: rgb(229, 244, 248);
  }
  
  h3{
      font-family: fantasy;
      font-weight: bolder;
      color:rgb(52, 147, 202);
  }
